<!doctype html>
<html lang="en">
<head>
    <title>v-for directive</title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>

</head>
<body>
<div id="our-app">
    <ul>
        <li v-for="student in students">
            {{student}}
        </li>
    </ul>

    <ul>
        <li v-for="teacher in teachers"> {{teacher.name}} - {{teacher.subject}} - {{teacher.location.street}} - {{teacher.location.city}}</li>
    </ul>

    <ul>
        <li v-for="teacher in teachers">
            {{teacher.name}} - {{teacher.subject}}
            <p v-for="(addr,index) in teacher.location">
                {{index}} - {{addr}}
            </p></li>

    </ul>


</div>

<script src="13.js"></script>

</body>
</html>