<!doctype html>
<html lang="en">
<head>
    <title>setter and getter functions</title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>

</head>
<body>
<div id="our-app1">
    Name: <input type="text" placeholder="name" v-model="fname"><br>
    LName: <input type="text" placeholder="name" v-model="lname">
    <br>
    <h3> fullname: <input type="text" v-model="fullname"></h3>
    <p>{{channel}}</p>


</div>
<div id="our-app2">

</div>
<script src="16.js"></script>

</body>
</html>